service: todo-api
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: prod

functions:
  api:
    handler: src/lambda.handler
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY

httpApi:
  cors:
    allowedOrigins:
      - http://localhost:5173
      - https://todo.jan-productions.com
    allowedHeaders:
      - Content-Type
      - Authorization
    allowedMethods:
      - GET
      - POST
      - PUT
      - PATCH
      - DELETE
      - OPTIONS
    allowCredentials: false
